<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.admin.mapper.PurchaseListMapper">
    <!-- 通用返回映射 -->
    <resultMap id="BaseResultMap" type="com.lzj.admin.pojo.PurchaseList">
        <id column="id" property="id" />
        <result column="amount_paid" property="amountPaid" />
        <result column="amount_payable" property="amountPayable" />
        <result column="purchase_date" property="purchaseDate" />
        <result column="remarks" property="remarks" />
        <result column="state" property="state" />
        <result column="purchase_number" property="purchaseNumber" />
        <result column="supplier_id" property="supplierId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询字段 -->
    <sql id="Base_Column_List">
        id, amount_paid, amount_payable, purchase_date, remarks, state, purchase_number, supplier_id, user_id
    </sql>

    <!-- 分页查询进货单，关联供应商、用户 -->
    <select id="purchaseList" resultType="com.lzj.admin.pojo.PurchaseList">
        SELECT
            tl.*,
            u.user_name AS userName,
            s.NAME AS supplierName
        FROM
            t_purchase_list tl
            LEFT JOIN t_user u ON tl.user_id = u.id
            LEFT JOIN t_supplier s ON tl.supplier_id = s.id
        <where>
            <if test="null != purchaseListQuery.purchaseNumber and purchaseListQuery.purchaseNumber !='' ">
                tl.purchase_number = #{purchaseListQuery.purchaseNumber}
            </if>
            <if test="null != purchaseListQuery.supplierId">
                and tl.supplier_id = #{purchaseListQuery.supplierId}
            </if>
            <if test="null != purchaseListQuery.state">
                and tl.state = #{purchaseListQuery.state}
            </if>
            <if test="null != purchaseListQuery.startDate and purchaseListQuery.startDate !='' ">
                and tl.purchase_date &gt;= TO_DATE(#{purchaseListQuery.startDate},'yyyy-MM-dd')
            </if>
            <if test="null != purchaseListQuery.endDate and purchaseListQuery.endDate !='' ">
                and tl.purchase_date &lt;= TO_DATE(#{purchaseListQuery.endDate},'yyyy-MM-dd')
            </if>
        </where>
        ORDER BY tl.purchase_date DESC
    </select>
</mapper>